body {
  padding: 50px;
  font: 14px "Century Gothic", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

input:invalid { background: hsl(5,30%,80%) }
input:valid   { border-color: black}

.header {background-color: rgb(129, 129, 129); padding: 15px; color: aliceblue}
.footer {background-color: rgb(129, 129, 129); padding: 15px; color: aliceblue}

#textbox {
  height: 20px;
}

#results {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


legend{
  font-size: 16px;
}

ul > li {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
    border-radius: 5px;
}


/*flexbox container 1*/
  .flexbox-container-1 {
    display: flex;


  }

  .flexbox-c1-item {
    margin: 10px;
    min-width: 200px;

  }

  .flexbox-c1-item-1 { /*tagging*/
    flex-grow: 1;
    max-width: 300px;
h
  }

  .flexbox-c1-item-2 { /*discovery*/
    flex-grow: 4;

  }

/*flexbox container 1*/

/*flexbox container 2 (inside container 1)*/
  .flexbox-container-2 {
    display: flex;

    justify-content: space-around;

  }

  .flexbox-c2-item {
    margin: 15px;

  }

  .flexbox-c2-item-1 { /*taglist*/

  }

  .flexbox-c2-item-2 { /*tagmap*/
    flex-grow: 1;

  }
/*flexbox container 2 (inside container 1)*/


@media (max-width: 600px){
  .flexbox-container-1{
  flex-direction: column;
  }
}


@media (max-width: 800px){
  .flexbox-container-2{
  flex-direction: column;
  }
}
